.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.delivery-option {
  transition: all 0.2s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    border-color: #3f51b5;
    box-shadow: 0 0 6px rgba(63, 81, 181, 0.3);
  }

  &.mat-radio-checked,
  &[aria-checked='true'] {
    border-color: #3f51b5;
    background-color: #f8f9ff;
  }
}
::ng-deep .custom-stepper .mat-step-header {
  pointer-events: none !important;
  cursor: default !important;
  opacity: 1 !important;
}
